@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
 *{
   margin: 5px;
padding: 1px;;
   box-sizing: border-box;
 }


  :root{
    --primary:#6D28D9;
    --secondary:#BE185D;
    --gray:#94a3b8 ;
    --white: #ffffff;

  }


  
body{
   font-family: 'poppins', sans-serif;
}
hr{
  margin: 2rem 0;
}
.container-fluid{
  padding-left: 1rem;
  padding-right:1rem ;
}
.container{
  margin: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 600px;
}

.link{
  min-width: 140px;
  width:max-content;
  padding:0.5rem 1rem;
  text-decoration: none;
}

.primary-link{
  color:var(--gray);
  background-color: var(--primary);
  border:1px solid var (--primary);
  border-radius: 0.5rem;
}

.secondary-link{
  color:var(--white);
  background-color:var(--secondary);
  border :1px solid var(--secondary);
  border-radius: 0.5rem;
}
 

.unlisted{
  list-style: none;

}

.list-inline li{
  display:inline;
  padding:0rem 0.5rem;
}

.navigation{
background-color: var(--primary);
padding: 5rem 0rem;
color:var(--gray);
border-bottom-left-radius: 1rem;
border-top-right-radius: 1rem;
}



.navigation.brand-name{
  font-weight: 700;
}

.navigation ul{
  list-style: none;
  text-align: left;
}

.navigation ul li{
  display:inline-block;
  padding: 0 0.8rem;
}
 
.navigation ul li a {
  font-weight: 500;
  color:var(--white);
}